<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
          
<hibernate-configuration>
 <session-factory >
        <property name="hbm2ddl.auto">update</property>
 		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.password">test</property>
  		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/digitube</property>
  		<property name="hibernate.connection.username">digitest</property>
 	    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
 	    
  	<mapping class="CustomerInfo.Customer"/>
    <mapping class="Order.Orders"/>
    <mapping class="Order.Service"/>
    <mapping class="Order.Invoice"/>
    <mapping class="Order.PayBill"/>
    <mapping class="Main.Plan"/>
    <mapping class="Main.Product"/>
    <mapping class="CustomerInfo.CustomerGroup"/>
    <mapping class="Employee.Employee"/>
 </session-factory>
</hibernate-configuration>
