<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
          
<hibernate-configuration>
 <session-factory >
        <property name="hbm2ddl.auto">update</property>
 		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.connection.password">test</property>
  		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/digitube</property>
  		<property name="hibernate.connection.username">digitest</property>
 	    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.format_sql">true</property>
 	    
  	<mapping class="CustomerInfo.Customer"/>
    <mapping class="Order.Service"/>
    <mapping class="Order.Bill"/>
    <mapping class="Order.Plan"/>
    <mapping class="Order.Product"/>
    <mapping class="Order.Orders"/>
    <mapping class="Order.Invoice"/>
    <mapping class="CustomerInfo.CustomerGroup"/>
    <mapping class="Employee.Employee"/>
    <mapping class="Employee.EmployeeWorkingTime"/>
    <mapping class="Order.PayBack"/>
    <mapping class="Order.Unpaid"/>
 </session-factory>
</hibernate-configuration>
